* {
    margin: 0;
    position: 0;
}

@font-face {
    font-family: neue-ul;
    src: url(../fonts/NeueMachina-Ultralight.ttf);
}

@font-face {
    font-family: neue-l;
    src: url(../fonts/NeueMachina-Light.ttf);
}

@font-face {
    font-family: neue-r;
    src: url(../fonts/NeueMachina-Regular.ttf);
}

@font-face {
    font-family: neue-m;
    src: url(../fonts//NeueMachina-Medium.ttf);
}

@font-face {
    font-family: neue-b;
    src: url(../fonts/NeueMachina-Bold.ttf);
}

@font-face {
    font-family: neue-bb;
    src: url(../fonts/NeueMachina-Black.ttf);
}

@font-face {
    font-family: neue-ub;
    src: url(../fonts//NeueMachina-Ultrabold.ttf);
}


/* root styling for js */
#t{
    /* transition: .9s; */
    transition: 1.3s;
    background-color: white;
}
#gitcount{
   transition: all .6s;
}
h3#gitcount{
    font-family: 'neue-r';
}

section.project-m.blogs-m {
    background-color: #F4F7FA;
}

h3.project-main-title-m.blogs-m {
    color: black;
}

h3.project-main-title-m.blog-t {
    color: black;
    /* padding: 4rem 2rem; */
    font-family: 'neue-b';
    padding-bottom: 0px;
}

.blogs-main-m {
    margin-bottom: 3rem;
}

.project-details-m.blogs-m {
    padding: 2rem;
}


h3.mystyle{
    font-family: 'neue-b' !important;
    transition: 5s;
}
h3.mystyle2{
    font-family: 'neue-l' !important;
    transition: 5s;
}

.project-description-m.blogs-m {
    font-size: 16px;
    line-height: 22px;
    color: gray;
    width: 90%;
    margin-top: 1rem;
    overflow: hidden;
    -webkit-line-clamp: 3;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

span.e-icon {
    display: flex !important;
    align-items: center !important;
}

.project-name-m.blogs-m {
    overflow: hidden;
    -webkit-line-clamp: 2;
    color: black;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    font-size: 20px;
    line-height: 25px;
}


.blog-orgin {
    display: flex;
    width: 100%;
    margin-top: 1rem;
}
.blog-orgin img {
    border-radius: 50%;
    width: 2rem !important;
    height: 2rem !important;
    margin-top: 13px;
}

.owner-name {
    font-family: 'neue-b';
    font-size: 18px;
    color: #303133;
    padding: 0 !important;
    line-height: 2px!important;
}

.blog-owner {
    margin-top: 1rem;
    margin-left: 12px;
}

.view-blogs{
    background-color: #97FF00;
    border: 1px solid black;
    border-radius: 50px;
    text-decoration: none;
    text-align: center;
    color: black;
    font-family: 'neue-m';
    padding: .5rem 2rem;
    transition: .5s;
}
.view-blogs:hover{
    background-color: transparent;
    border: 1px solid black;
    color: black;

}
.blogs-buttons{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3rem;
}

/* .project-details-m.blogs-m {
    background-color: #97ff00;
} */
/* .project-details-m.blogs-m {
    background-color: #97ff00;
    border: 1px solid black;
    border-top: none;
} */

/* .project-img-m {
    border: 1px solid black;
    border-bottom: none;
} */

.project-name-m.exp-b {
    font-family: 'neue-b';
    margin-top: -0.4rem;
    margin-bottom: 1rem;
}

.git-count{
    background-image: url(../images/bg.svg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.project-main-paragraph-m.blog-t {
    padding: 0 2rem;
    padding-bottom: 2rem;
    font-family: 'neue-m';
    color: grey;
    font-size: 18px;
}

.hero-email-m a{
border: 1px solid black;
font-family: 'neue-b' !important;
}
.hero-email-m a:hover{
border: 1px solid black;
}

/* for small mobile */
@media (min-width: 200px) and (max-width: 350px) {

    /* hero section mobile start here */
    .hero-main-m {
        width: 100%;
        height: inherit;
    }

    .hero-main-m-left {
        width: 100%;
        height: 10rem;

    }

    .avater-m {
        background-image: url(../images/bg.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;

    }

    .avater-m img {
        margin-top: 4rem;
        width: 20rem;
        height: inherit;
    }

    .hero-main-m-right {
        width: 100%;
        height: max-content;
        background-color: rgb(255, 255, 255) !important;
        margin-top: 14rem;
        padding: 4rem 0rem;

    }

    .hero-main-m-right h1 {
        font-family: 'neue-b';
        width: 90%;
        font-size: 25px;
        line-height: 30px;
        padding-left: 2rem;
    }

    .hero-main-m-right p {
        font-family: 'neue-m';
        width: 100%;
        font-size: 18px;
        line-height: 24px;
        color: rgb(33, 33, 33);
        padding-left: 2rem;
        padding-right: 1rem;
        margin-top: 2rem;
    }

    .hero-email-m {
        padding: 0 1rem;
        width: 100%;
        display: flex;

    }

    .hero-email-m a {
        background-color: black;
        color: #97FF00;
        width: 100%;
        height: inherit;
        padding: 0.8rem 0.8rem;
        border-radius: 43px;
        text-decoration: none;
        font-family: 'neue-m';
        /* font-size: 15px; */
        font-size: 4.3vw;
        margin-top: 2rem;
        display: flex;
        justify-content: space-around;
        transition: .5s;
    }

    .hero-email-m a:hover {
        color: black;
        background-color: #97FF00;

    }

    /* about section start here */
    .about-m {
        background-color: black !important;
        padding: 4rem 2rem;
        color: #97FF00;
        transition: .6s;
    }

    .about-m h3 {
        font-family: 'neue-m';
        font-size: 16px;
        line-height: 26px;
    }

    /* timeline section start here */
    .timeline-m {
        padding: 4rem 2rem;
        background-color: #FFC700;
        color: black;
    }

    h3.timeline-title-m {
        font-family: 'neue-b';
        font-size: 28px;
        line-height: 38px;
    }

    .timeline-number-m {
        font-family: 'neue-m';
        font-size: 35px;
        line-height: 38px;
        margin-top: 4rem;
        margin-bottom: 0rem;
    }

    .name-m {
        font-family: 'neue-m';
        font-size: 20px;
    }

    .details-m {
        font-family: 'neue-m';
        font-size: 16px;
    }

    /* project section start here */
    .project-m {
        background-color: black;
        width: 100%;
        height: inherit;
        padding: 4rem 0;
        /* padding-left: 2rem; */
    }

    .project-main-title-m {
        font-family: 'neue-m';
        color: #97FF00;
        font-size: 25px;
        margin-bottom: 2rem;
         padding-left: 2rem;
    }

    .project-body-m {
        width: 80vw;
        height: inherit;
    }

    .project-img-m img {
        width: 80vw;
        height: 12rem;
        border-radius: 4px 4px 0px 0px;
    }

    .project-details-m {
        background-color: #F4F7FA;
        width: 100%;
        height: inherit;
        padding: 1rem .8rem;
        border-radius: 0px 0px 4px 4px;
    }

    .project-date-m {
        color: black;
        font-family: 'neue-r';
        font-size: 15px;
    }

    .project-details-m {
        color: black;
        font-family: 'neue-m';
        font-size: 20px;
        line-height: 32px;
    }

    .project-live-m {
        background-color: #97FF00;
        border: 1px solid black;
        border-radius: 50px;
        font-family: 'neue-m';
        text-decoration: none;
        text-align: center;
        padding: .1rem 1rem;
        color: black;
        font-size: 16px;
        transition: .5s;
    }

    .project-live-m:hover {
        background-color: transparent !important;
        color: black;
    }



    /* github */

    .git-title {
        background-color: #FC5101;
        color: black;
        padding: 1.5rem 0rem;
        text-align: center;
    }

    .git-title h3 {
        text-align: center;
        font-family: 'neue-b';
        font-size: 20px;
        margin-bottom: 0;
    }

    .git-count {
        /* background-color: #97FF00; */
        width: 100%;
        height: 20rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .git-count h3 {
        color: black;
        font-family: 'neue-b';
        font-size: 85px;
        text-align: center;
    }


}



/* for medium size fones */
@media (min-width: 351px) and (max-width: 400px) {

    /* hero section mobile start here */
    .hero-main-m {
        width: 100%;
        height: inherit;
    }

    .hero-main-m-left {
        width: 100%;
        height: 10rem;

    }

    .avater-m {
        background-image: url(../images/bg.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
    }

    .avater-m img {
        margin-top: 4rem;
        width: 20rem;
        height: inherit;
    }

    .hero-main-m-right {
        width: 100%;
        height: max-content;
        background-color: rgb(255, 255, 255) !important;
        margin-top: 14rem;
        padding: 4rem 0rem;

    }

    .hero-main-m-right h1 {
        font-family: 'neue-b';
        width: 90%;
        font-size: 30px;
        line-height: 35px;
        padding-left: 2rem;
    }

    .hero-main-m-right p {
        font-family: 'neue-m';
        width: 100%;
        font-size: 18px;
        line-height: 24px;
        color: rgb(33, 33, 33);
        padding-left: 2rem;
        padding-right: 2rem;
        margin-top: 2rem;
    }

    .hero-email-m {
        padding: 0 2rem;
        width: 100%;
        display: flex;

    }

    .hero-email-m a {
        background-color: black;
        color: #97FF00;
        width: 100%;
        height: inherit;
        padding: 1rem 0.8rem;
        border-radius: 43px;
        text-decoration: none;
        font-family: 'neue-m';
        font-size: 4.3vw;
        /* font-size: 15px; */
        margin-top: 2rem;
        display: flex;
        justify-content: space-around;
        transition: .5s;
    }

    .hero-email-m a:hover {
        color: black;
        background-color: #97FF00;

    }



    /* about section start here */
    .about-m {
        background-color: black !important;
        padding: 4rem 2rem;
        color: #97FF00;
        transition: .6s;
    }

    .about-m h3 {
        font-family: 'neue-m';
        font-size: 16px;
        line-height: 26px;
    }

    /* timeline section start here */
    .timeline-m {
        padding: 4rem 2rem;
        background-color: #FFC700;
        color: black;
    }

    h3.timeline-title-m {
        font-family: 'neue-b';
        font-size: 28px;
        line-height: 38px;
    }

    .timeline-number-m {
        font-family: 'neue-m';
        font-size: 35px;
        line-height: 38px;
        margin-top: 4rem;
        margin-bottom: 0rem;
    }

    .name-m {
        font-family: 'neue-m';
        font-size: 20px;
    }

    .details-m {
        font-family: 'neue-m';
        font-size: 16px;
    }

    /* project section start here */
    .project-m {
        background-color: black;
        width: 100%;
        height: inherit;
        padding: 4rem 0;
        /* padding-left: 2rem; */
    }

    .project-main-title-m {
        font-family: 'neue-m';
        color: #97FF00;
        font-size: 30px;
        margin-bottom: 2rem;
        padding-left: 2rem;
    }

    .project-body-m {
        width: 80vw;
        height: inherit;
    }

    .project-img-m img {
        width: 80vw;
        height: 14rem;
        border-radius: 4px 4px 0px 0px;
    }

    .project-details-m {
        background-color: #F4F7FA;
        width: 100%;
        height: inherit;
        padding: 1rem .8rem;
        border-radius: 0px 0px 4px 4px;
    }

    .project-date-m {
        color: black;
        font-family: 'neue-r';
        font-size: 15px;
    }

    .project-details-m {
        color: black;
        font-family: 'neue-m';
        font-size: 20px;
        line-height: 32px;
    }

    .project-live-m {
        background-color: #97FF00;
        border: 1px solid black;
        border-radius: 50px;
        font-family: 'neue-m';
        text-decoration: none;
        text-align: center;
        padding: .2rem 1rem;
        color: black;
        font-size: 16px;
        transition: .5s;
    }

    .project-live-m:hover {
        background-color: transparent !important;
        color: black;
    }



    /* github */

    .git-title {
        background-color: #FC5101;
        color: black;
        padding: 1.5rem 0rem;
        text-align: center;
    }

    .git-title h3 {
        text-align: center;
        font-family: 'neue-b';
        font-size: 22px;
        margin-bottom: 0;
    }

    .git-count {
        /* background-color: #97FF00; */
        width: 100%;
        height: 20rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .git-count h3 {
        color: black;
        font-family: 'neue-b';
        font-size: 85px;
        text-align: center;
    }


}

/* for lerge phones */
@media (min-width: 401px) and (max-width: 500px) {

    /* hero section mobile start here */
    .hero-main-m {
        width: 100%;
        height: inherit;
    }

    .hero-main-m-left {
        width: 100%;
        height: 14rem;

    }

    .avater-m {
        background-image: url(../images/bg.svg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        display: flex;
        justify-content: center;
    }

    .avater-m img {
        margin-top: 4rem;
        width: 24rem;
        height: inherit;
    }

    .hero-main-m-right {
        width: 100%;
        height: max-content;
        background-color: rgb(255, 255, 255) !important;
        margin-top: 14rem;
        padding: 4rem 0rem;

    }

    .hero-main-m-right h1 {
        font-family: 'neue-b';
        width: 100%;
        font-size: 35px;
        line-height: 40px;
        padding-left: 2rem;
    }

    .hero-main-m-right p {
        font-family: 'neue-m';
        width: 100%;
        font-size: 20px;
        line-height: 26px;
        color: rgb(33, 33, 33);
        padding-left: 2rem;
        padding-right: 2rem;
        margin-top: 2rem;
    }

    .hero-email-m {
        padding: 0 2rem;
        width: 100%;
        display: flex;

    }

    .hero-email-m a {
        background-color: black;
        color: #97FF00;
        width: 100%;
        height: inherit;
        padding: 1rem 0.8rem;
        border-radius: 43px;
        text-decoration: none;
        font-family: 'neue-m';
        /* font-size: 18px; */
        font-size: 4.3vw;
        margin-top: 2rem;
        display: flex;
        justify-content: space-around;
        transition: .5s;
    }

    .hero-email-m a:hover {
        color: black;
        background-color: #97FF00;

    }

    /* about section start here */
    .about-m {
        background-color: black !important;
        padding: 4rem 2rem;
        color: #97FF00;
        transition: .6s;
    }

    .about-m h3 {
        font-family: 'neue-m';
        font-size: 18px;
        line-height: 28px;
    }

    /* timeline section start here */
    .timeline-m {
        padding: 4rem 2rem;
        background-color: #FFC700;
        color: black;
    }

    h3.timeline-title-m {
        font-family: 'neue-b';
        font-size: 31px;
        line-height: 41px;
    }

    .timeline-number-m {
        font-family: 'neue-m';
        font-size: 35px;
        line-height: 38px;
        margin-top: 4rem;
        margin-bottom: 0rem;
    }

    .name-m {
        font-family: 'neue-m';
        font-size: 20px;
    }

    .details-m {
        font-family: 'neue-m';
        font-size: 16px;
    }

    /* project section start here */
    .project-m {
        background-color: black;
        width: 100%;
        height: inherit;
        padding: 6rem 0;
        /* padding-left: 2rem; */
    }

    .project-main-title-m {
        font-family: 'neue-m';
        color: #97FF00;
        font-size: 32px;
        margin-bottom: 2rem;
        line-height: 42px;
        width: 80%;
        padding-left: 2rem;
    }

    .project-body-m {
        width: 80vw;
        height: inherit;
    }

    .project-img-m img {
        width: 80vw;
        height: 16rem;
        border-radius: 4px 4px 0px 0px;
    }

    .project-details-m {
        background-color: #F4F7FA;
        width: 100%;
        height: inherit;
        padding: 1rem .8rem;
        border-radius: 0px 0px 4px 4px;
    }

    .project-date-m {
        color: black;
        font-family: 'neue-r';
        font-size: 15px;
    }

    .project-details-m {
        color: black;
        font-family: 'neue-m';
        font-size: 20px;
        line-height: 32px;
    }

    .project-live-m {
        background-color: #97FF00;
        border: 1px solid black;
        border-radius: 50px;
        font-family: 'neue-m';
        text-decoration: none;
        text-align: center;
        padding: .2rem 1rem;
        color: black;
        font-size: 16px;
        transition: .5s;
    }

    .project-live-m:hover {
        background-color: transparent !important;
        color: black;
    }



    /* github */

    .git-title {
        background-color: #FC5101;
        color: black;
        padding: 1.5rem 0rem;
        text-align: center;
    }

    .git-title h3 {
        text-align: center;
        font-family: 'neue-b';
        font-size: 25px;
        margin-bottom: 0;
    }

    .git-count {
        /* background-color: #97FF00; */
        width: 100%;
        height: 20rem;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .git-count h3 {
        color: black;
        font-family: 'neue-b';
        font-size: 85px;
        text-align: center;
    }


}